*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea
/feat/mypage/build
/feat/vote/build
/core/repository/build
/core/usecase/build
data/build/.transforms/07a666b41283077b0fcd0e3205db760e/results.bin
/data/build
